@import 'tailwindcss';

@font-face {
    font-family: Pixellari;
    font-style: normal;
    src: url('/fonts/Pixellari.ttf');
}

@font-face {
    font-family: CutePixel;
    font-style: normal;
    src: url('/fonts/CutePixel.ttf');
}

@font-face {
    font-family: PressStart2P;
    font-style: normal;
    src: url('/fonts/PressStart2P.ttf');
}

@font-face {
    font-family: upheavtt;
    font-style: normal;
    src: url('/fonts/upheavtt.ttf');
}

@font-face {
    font-family: PixelOperatorBold;
    font-style: normal;
    src: url('/fonts/PixelOperator-Bold.ttf');
}

@font-face {
    font-family: PixelOperatorMono;
    font-style: normal;
    src: url('/fonts/PixelOperatorMono.ttf');
}

@font-face {
    font-family: RetroGaming;
    font-style: normal;
    src: url('/fonts/Retro Gaming.ttf');
}

@font-face {
    font-family: W95fa;
    font-style: normal;
    src: url('/fonts/w95fa.woff2');
}

@font-face {
    font-family: PixelCode;
    font-style: normal;
    src: url('/fonts/PixelCode.ttf');
}

@font-face {
    font-family: PixelOperatorMonoBold;
    font-style: normal;
    src: url('/fonts/PixelOperatorMono8-Bold.ttf');
}

@utility pixelated {
    image-rendering: pixelated;
}

@theme {
    --default-font-family: 'Pixellari';
    --default-mono-font-family: 'PressStart2P';
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: auto;
    overflow: hidden;
}

#root {
    height: 100%;
    background-color: #000;
}

h1 {
    @apply text-[48px] font-bold;
}

h3 {
    @apply text-[32px];
}

p {
    @apply text-[32px];
}

::view-transition-group(root),
::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(*) {
    z-index: 1;
    animation: none;
}

::view-transition-new(*) {
    z-index: 2;
    mix-blend-mode: normal;
}

::view-transition-new(slides-track),
::view-transition-old(slides-track),
::view-transition-new(slides-progress),
::view-transition-old(slides-progress) {
    animation: none;
    z-index: 10;
    mix-blend-mode: normal;
}

::view-transition-new(slides-progress) {
    transition:
        width 500ms,
        height 500ms;
}

::view-transition-new(do-nothing),
::view-transition-new(do-nothing-2) {
    animation: none;
    opacity: 0;
}

::view-transition-new(do-nothing-3) {
    animation: none;
}

::view-transition-old(do-nothing),
::view-transition-old(do-nothing-2) {
    animation: none;
}

::view-transition-old(do-nothing-3) {
    animation: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

::view-transition-new(fade-in-code),
::view-transition-new(fade-in) {
    animation: fade-in 500ms ease-in-out forwards;
}

@keyframes slide-from-left {
    from {
        transform: translateX(-100%);
    }
}

::view-transition-new(slide-from-left) {
    animation: slide-from-left 1.2s ease-in-out forwards;
}

@keyframes slide-from-right {
    from {
        transform: translateX(100%);
    }
}

::view-transition-new(slide-from-right) {
    animation: slide-from-right 1.2s ease-in-out forwards;
}

::view-transition-new(slide-from-right-react-example) {
    animation: slide-from-right 500ms ease-in-out forwards;
}

@keyframes slide-from-left-2 {
    from {
        transform: translateX(-100%);
    }
}

::view-transition-new(slide-from-left-2) {
    animation: slide-from-left-2 1.2s ease-in-out forwards;
}

@keyframes slide-from-top {
    from {
        transform: translateY(-100%);
    }
}

::view-transition-new(slide-from-top) {
    animation: slide-from-top 1.2s ease-in-out forwards;
}

@keyframes star-wars-simple-from-left {
    0% {
        clip-path: polygon(-120% 0%, -20% 0%, 0% 100%, -100% 100%);
    }

    100% {
        clip-path: polygon(0% 0%, 100% 0%, 120% 100%, 0% 100%);
    }
}

::view-transition-new(star-wars-simple-from-left) {
    animation: star-wars-simple-from-left 1.2s ease-in-out forwards;
}

@keyframes star-wars-simple-from-right {
    0% {
        clip-path: polygon(120% 0%, 220% 0%, 200% 100%, 100% 100%);
    }

    100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, -20% 100%);
    }
}

::view-transition-new(star-wars-simple-from-right) {
    animation: star-wars-simple-from-right 1.2s ease-in-out forwards;
}

@keyframes star-wars-circle-in {
    0% {
        clip-path: circle(0%);
    }

    100% {
        clip-path: circle(100%);
    }
}

::view-transition-new(star-wars-circle-in) {
    animation: star-wars-circle-in 1.2s ease-in-out forwards;
}

@keyframes star-wars-circle-out {
    0% {
        clip-path: circle(100%);
    }

    100% {
        clip-path: circle(0%);
    }
}

::view-transition-new(star-wars-circle-out) {
    animation: star-wars-circle-out 1.2s ease-in-out forwards;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

::view-transition-new(check-conf-logo-dark),
::view-transition-new(check-conf-logo-light) {
    mix-blend-mode: normal;
}

::view-transition-new(check-conf-logo-dark),
::view-transition-new(check-conf-logo-light),
::view-transition-old(check-conf-logo-dark),
::view-transition-old(check-conf-logo-light) {
    animation: none;
}

::view-transition-new(check-conf-logo-dark):only-child,
::view-transition-new(check-conf-logo-light):only-child {
    animation: fade-in 500ms ease-in-out forwards;
}

::view-transition-old(check-conf-logo-dark):only-child,
::view-transition-old(check-conf-logo-light):only-child {
    animation: fade-out 500ms ease-in-out forwards;
}

::view-transition-group(check-conf-logo-dark),
::view-transition-group(check-conf-logo-light) {
    z-index: 10;
}

@layer code {
    .-variable-parameter {
        color: #eba0ac;
    }
    .-constructor-tsx {
        color: #b4befe;
    }
    .Type {
        color: #f9e2af;
    }
    .Keyword {
        color: #cba6f7;
    }
    .-constant-builtin {
        color: #fab387;
    }
    .-type-builtin {
        color: #f9e2af;
    }
    .-keyword-export {
        color: #89dceb;
    }
    .-punctuation-bracket {
        color: #9399b2;
    }
    .Delimiter {
        color: #9399b2;
    }
    .String {
        color: #a6e3a1;
    }
    .NonText {
        color: #6c7086;
    }
    .Operator {
        color: #89dceb;
    }
    .Conditional {
        color: #cba6f7;
        font-style: italic;
    }
    .-variable-member {
        color: #b4befe;
    }
    .-spell {
    }
    .Comment {
        color: #9399b2;
        font-style: italic;
    }
    .Include {
        color: #cba6f7;
    }
    .-variable {
        color: #cdd6f4;
    }
    .Function {
        color: #89b4fa;
    }
    .-variable-builtin {
        color: #f38ba8;
    }
    .-keyword-return {
        color: #cba6f7;
    }
    .-tag {
        color: #cba6f7;
    }
    .MatchParen {
        background-color: #45475a;
        color: #fab387;
        font-weight: bold;
    }
    .-number-css {
        color: #fab387;
    }
    .Constant {
        color: #fab387;
    }
    .-string-plain-css {
        color: #fab387;
    }
    .PreProc {
        color: #f5c2e7;
    }
    .-type-tag-css {
        color: #cba6f7;
    }
    .-property-css {
        color: #b4befe;
    }
}
